# torch toolkit is already installed in the base docker image
# PyTorch base tools
pytorch-lightning==1.7.7
lightning-flash==0.8.0

# ML packages
scikit-learn
imbalanced-learn
xgboost==1.6.2
umap-learn==0.5.3
hdbscan==0.8.28
optuna==3.0.3
ray[tune]
statsmodels==0.13.2 

# Visualization
seaborn
altair==4.2.0
vega-datasets==0.9.0

# Logging and configuration
hydra-core==1.2.0
mlflow==1.30.0

## Data IO
boto3
SQLAlchemy
psycopg2-binary
pymongo

