# torch toolkit is already installed in the base docker image
# PyTorch base tools
pytorch-lightning
lightning-flash

# ML packages
scikit-learn
dask[complete]
imbalanced-learn
xgboost
umap-learn
trimap
hdbscan
optuna
ray[tune]
statsmodels 

# Visualization
seaborn
altair
vega-datasets

# Logging and configuration
hydra-core
mlflow

## Data IO
boto3
SQLAlchemy
psycopg2-binary
pymongo
